build
obj
lux

# autotools
autom4te.cache

# Linux executables (files without extensions)
*
!*/
!*.*

# Ignore Windows executables
*.exe

# Ignore Doxygen output
docs/doxygen/
docs/html/
docs/latex/
docs/xml/

# Ignore output from llvm
*.bc
*.ll
*.o
*.s

# Ignore IDE directories
.vscode

# ignore the lsp-client server node modules
node_modules
package-lock.json
tsconfig.tsbuildinfo
src/lsp/language-support/client/out

# ignore macOS hidden files
.DS_Store

# Bear / clangd
compile_commands.json
